* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
}
#wrap {
  min-height: 100%;
  margin-bottom: -40px;
}
#wrap:after {
  content: "";
  display: block;
}
#wrap {
  position: relative;
}
h1 {
  width: 700px;
  color: #000;
  font-size: 94px;
  font-weight: bold;
  margin: 10px auto 0;
  padding: 0 0 10px;
  letter-spacing: 20px;
  border-bottom: 1px solid #333;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
h1:hover {
  color: #222;
  cursor: pointer;
}
h1:nth-child(2) {
  display: none;
}
p {
  width: 700px;
  margin: 0 auto 25px;
  padding: 10px 0;
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #000;
  letter-spacing: 1px;
}
.box {
  width: 800px;
  margin: 0 auto 10px;
}
nav, #wrap:after {
  height: 40px;
}
nav {
  width: 700px;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
}
nav a {
  display: inline;
  padding: 5px 10px;
  float: right;
  margin: 0;
  color: #FFF;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.item {
  display: inline-block;
  width: 150px;
  margin: 10px 20px;
  padding: 5px;
  vertical-align: top;
}
.category {
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#armchair {
  background: url(armchair-black.svg);
  background-size: contain;
}
#shelf {
  background: url(shelf-black.svg);
  background-size: contain;
}
#chair {
  background: url(chair-black.svg);
  background-size: contain;
}
#dining {
  background: url(diningtable-black.svg);
  background-size: contain;
}
#bed {
  background: url(bed-black.svg);
  background-size: contain;
}
#desk {
  background: url(desk-black.svg);
  background-size: contain;
}
#coffee {
  background: url(coffee-black.svg);
  background-size: contain;
}
#couch {
  background: url(couch-black.svg);
  background-size: contain;
}
span {
  color: #FFF;
  display: block;
  margin-top: 15px;
  font: bold 18px 'Century Gothic', Helvetica, Arial, sans-serif;
  text-align: center;
  /*position: relative;*/
  /*top: 0;*/
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.item:hover {
  cursor: pointer;
}
.item:hover > .category {
  /*top: -6px;*/
  -ms-transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}
.item:hover > span {
  color: #000;
}

/* Category Page Specific Styling */

h2 {
  margin: 0 0 0 10px;
  font-size: 26px;
}
h3 {
  width: 668px;
  margin: 0 auto 10px;
  text-align: left;
  font-size: 20px;
}
.result {
  margin: 20px auto;
}
.choice {
  display: inline-block;
  vertical-align: middle;
}
.result .choice img {
  width: 150px;
  height: 150px;
}
.info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.info p {
  width: 500px;
  margin: 10px 0 0 10px;
  padding: 0;
  border: none;
}
.options {
  width: 700px;
  margin: 0 auto 10px;
  text-align: left;
}
.options .item {
  margin: 0 10px 5px;
}
.options img {
  width: 150px;
  height: 150px;
}
.options span {
  margin-top: 5px;
  color: #000;
}

/* Product Page Specific Styling */

.product {
  width: 700px;
  margin: 20px auto;
  text-align: left;
}
.pic {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
}
.pic img {
  width: 300px;
  height: 300px;
}
.desc {
  display: inline-block;
  width: 380px;
  margin-left: 10px;
  vertical-align: middle;
}
.desc h2 {
  margin: -8px 0 0;
  text-decoration: underline;
  color: black;
}
.desc p {
  width: 380px;
  margin: 10px 0 0;
  padding: 0;
  border: none;
}
.store {
  width: 700px;
  margin: 0 auto 20px;
  text-align: right;
}
.map {
  display: inline-block;
  width: 170px;
  height: 170px;
  margin-right: 210px;
  vertical-align: middle;
}
.retail {
  display: inline-block;
  width: 300px;
  padding-right: 20px;
  vertical-align: middle;
  text-align: right;
}
.retail h4 {
  margin: 0 0 5px;
  font-size: 18px;
  text-decoration: underline;
  color: black;
}
.retail p {
  width: 300px;
  margin: 0 0 5px;
  padding: 0 20px 0 0;
  border: none;
}
.back {
  float: left;
}

/* About Page Specific Styling */

.about {
  margin-top: 15px;
}
.lefter {
 text-align: left;
 padding-bottom: 20px;
}
.points {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
.around {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 1px solid black;
  border-radius: 50%;
  vertical-align: top;
}
.point {
  display: inline-block;
  width: 610px;
  margin-left: 10px;
  border: none;
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
  text-align: left;
}

/* Media Queries for Responsive Layout */

@media all and (max-width: 905px) {
  .box {
    width: 70%;
  }
  .category {
    width: 120px;
    height: 120px;
  }
}
@media all and (max-width: 700px) {
  nav {
    width: 100%;
  }
  h1 {
    display: none;
    width: 90%;
  }
  h1:nth-child(2) {
    display: block;
  }
  p {
    width: 90%;
    max-width: 90%;
    font-size: 20px;
    margin-bottom: 10px;
  }
  span {
    color: #000;
  }
  .box {
    width: 80%;
  }
  .box .item {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 0;
  }
  .category {
    width: 250px;
    height: 250px;
  }
  #wrap {
    min-width: 100%;
    margin-bottom: -60px;
  }
  nav, #wrap:after {
    height: 60px;
  }
  nav a {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 40px;
  }
  .item:last-child {
    margin-bottom: 20px;
  }
  #armchair, #dining {
    margin-top: -10px;
  }
  #coffee, #desk, #bed {
    margin-top: -20px;
  }
  #couch {
    margin-top: -40px;
  }
  #shelf {
    margin-top: 25px;
  }
  .info h2 {
    text-align: center;
  }
  .info h2, .info p {
    margin: 10px 0 0 10px;
  }
  .info p {
    width: 80%;
    margin: 20px auto 0;
  }
  .suggestions h3 {
    width: 100%;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
  }
  .options {
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
  }
  .pic, .desc, .retail, .map {
    display: block;
    margin: 0 auto;
  }
  .product, .store {
    width: 100%;
    text-align: center;
  }
  .desc {
    width: 100%;
  }
  .product h2 {
    margin: 10px 0;
    font-size: 32px;
  }
  .product h3 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  .desc p {
    width: 80%;
    margin: 10px auto;
    text-align: left;
  }
  .retail {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .retail h4 {
    margin-top: 20px;
    font-size: 24px;
  }
  .retail p {
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .map {
    margin: 20px auto;
  }
}
@media all and (max-width: 460px) {
  .result .choice {
    margin-top: -20px;
  }
  .info {
    display: block;
    max-width: 100%;
  }
  .suggestions {
    margin-bottom: 40px;
  }
  .options .item {
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 0;
  }
  .options .choice {
    margin: 0;
  }
  .options img {
    width: 180px;
    height: 180px;
  }
  .options span {
    margin: 10px 0;
  }
}
@media all and (max-width: 420px) {
  #wrap {
    overflow-x: hidden;
  }
  h1 {
    display: none;
  }
  h1:nth-child(2) {
    display: block;
  }
  h2 {
    width: 100%;
  }
  p {
    max-width: 100%;
    font-size: 18px;
  }
  span {
    margin-top: 20px;
    font-size: 20px;
  }
  .result .choice, .suggestions .choice {
    display: block;
    width: 90%;
    height: 180px;
    margin: 0 auto 20px;
  }
  .result .choice img {
    width: 180px;
    height: 180px;
  }
  .info {
    display: block;
    max-width: 100%;
  }
  .suggestions, .options {
    width: 420px;
    max-width: 100%;
  }
  .options .choice {
    margin-bottom: 5px;
  }
  .options span {
    margin: 0;
  }
  .desc p {
    width: 90%;
    padding-left: 5px;
  }
}
