* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  text-align: center;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
}
#wrap {
  min-height: 100%;
  margin-bottom: -40px;
}
#wrap:after {
  content: "";
  display: block;
}
#wrap {
  position: relative;
}
h1 {
  width: 700px;
  color: #000;
  font-size: 94px;
  font-weight: bold;
  margin: 10px auto 0;
  padding: 0 0 10px;
  letter-spacing: 20px;
  border-bottom: 1px solid #333;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
h1:nth-child(2) {
  display: none;
}
p {
  width: 700px;
  margin: 0 auto 25px;
  padding: 10px 0;
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #000;
  letter-spacing: 1px;
}
.box {
  width: 800px;
  margin: 0 auto 10px;
}
nav, #wrap:after {
  height: 40px;
}
nav {
  width: 700px;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
}
nav a {
  display: inline;
  padding: 5px 10px;
  float: right;
  margin: 0;
  color: #FFF;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: none;
}
nav a:hover {
  cursor: pointer;
}
.item {
  display: inline-block;
  width: 150px;
  margin: 10px 20px;
  padding: 5px;
}
.category {
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

span {
  color: #FFF;
  display: block;
  margin-top: 15px;
  font: bold 18px 'Century Gothic', Helvetica, Arial, sans-serif;
  text-align: center;
  /*position: relative;*/
  /*top: 0;*/
  -ms-transform: translateY(0); /* IE 9 */
  -webkit-transform: translateY(0); /* Chrome, Safari, Opera */
  transform: translateY(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.item:hover {
  cursor: pointer;
}
.item:hover > .category {
  /*top: -6px;*/
  -ms-transform: translateY(-6px); /* IE 9 */
  -webkit-transform: translateY(-6px); /* Chrome, Safari, Opera */
  transform: translateY(-6px);
}
.item:hover > span {
  color: #000;
}

/* Category Page Specific Styling */

h2 {
  margin: 0 0 0 10px;
  font-size: 26px;
}
h3 {
  width: 668px;
  margin: 0 auto 10px;
  text-align: left;
  font-size: 20px;
}
.result {
  margin: 20px auto;
}
.choice {
  display: inline-block;
  width: 150px;
  height: 150px;
  vertical-align: middle;
}
.suggestions .choice {
  /*width: 200px;
  height: 200px;*/
}
.info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.info > p {
  width: 500px;
  margin: 10px 0 0 10px;
  padding: 0;
  border: none;
}
.options {
  width: 700px;
  margin: 0 auto 10px;
  text-align: left;
}
.options .item {
  margin: 0 10px 5px;
}
.options span {
  margin-top: 5px;
  color: #000;
}

/* Product Page Specific Styling */

.product {
  width: 700px;
  margin: 20px auto;
  text-align: left;
}
.pic {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
}
.desc {
  display: inline-block;
  width: 380px;
  margin-left: 10px;
  vertical-align: middle;
}
.desc h2 {
  margin: -8px 0 0;
}
.desc p {
  width: 380px;
  margin: 10px 0 0;
  padding: 0;
  border: none;
}
.store {
  width: 700px;
  margin: 0 auto 20px;
  text-align: right;
}
.map {
  display: inline-block;
  width: 380px;
  height: 170px;
 /* margin-right: 210px;
*/  vertical-align: middle;
}
.retail {
  display: inline-block;
  width: 300px;
  padding-right: 20px;
  vertical-align: middle;
  text-align: right;
}
.retail h4 {
  margin: 0 0 5px;
  font-size: 18px;
}
.retail p {
  width: 300px;
  margin: 0 0 5px;
  padding: 0 20px 0 0;
  border: none;
}
.back {
  float: left;
}

/*About Page Specific Styling */

.around{
   border-style: solid;
   border-width: 1px;
   width: 36px;
   height: 36px;
   border-radius: 18px;
   text-align: center; 
   margin-left: 50px;
 }
 
 .left{
   float: left;
 }
 
 .point{
	margin-left: 115px;
   border-style: none;
   font-size: 16px;
 }
 
 .abouter{
   margin-top: 10px;
 }
 
 .lefter{
   text-align: left;
 }
 
 .person{
   width: 150px;
   height: auto;
   margin: 25px;
   float: left;
   position: relative;
 }
 
 .person h3 {
	color:black;
	text-align: center;
 }
 

/* Media Queries for Responsive Layout */

@media all and (max-width: 905px) {
  .box {
    width: 70%;
  }
  .category {
    width: 120px;
    height: 120px;
  }
}
@media all and (max-width: 700px) {
  nav {
    width: 100%;
  }
  h1 {
    display: none;
    width: 90%;
  }
  h1:nth-child(2) {
    display: block;
  }
  p {
    width: 90%;
    font-size: 20px;
    margin-bottom: 10px;
  }
  span {
    color: #000;
  }
  .box {
    width: 80%;
  }
  .item {
    width: 250px;
  }
  .category {
    width: 250px;
    height: 250px;
  }
}
@media all and (max-width: 420px) {
  h1 {
    display: none;
  }
  h1:nth-child(2) {
    display: block;
  }
  p {
    font-size: 18px;
  }
}