* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  text-align: center;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
}
#wrap {
  min-height: 100%;
  margin-bottom: -30px;
}
#wrap:after {
  content: "";
  display: block;
}
h1 {
  width: 700px;
  color: #000;
  font-size: 94px;
  font-weight: bold;
  margin: 10px auto 0;
  padding: 0 0 10px;
  letter-spacing: 20px;
  border-bottom: 1px solid #333;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
h1:hover {
  color: #222;
  cursor: pointer;
}
h1:nth-child(2) {
  display: none;
}
p {
  width: 700px;
  margin: 0 auto 25px;
  padding: 10px 0;
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #000;
  letter-spacing: 1px;
}
.box {
  width: 800px;
  margin: 0 auto 10px;
}
nav, #wrap:after {
  height: 30px;
}
nav {
  width: 700px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: #222;
}
nav > a {
  display: inline;
  padding: 5px 10px;
  float: right;
  margin: 0 5px;
  color: #FFF;
  line-height: 20px;
  vertical-align: middle;
  text-decoration: none;
}
.item {
  display: inline-block;
  width: 150px;
  margin: 10px 20px;
  padding: 5px;
}
.category {
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#armchair {
  background: url(armchair-black.svg);
  background-size: contain;
}
#shelf {
  background: url(shelf-black.svg);
  background-size: contain;
}
#chair {
  background: url(chair-black.svg);
  background-size: contain;
}
#dining {
  background: url(diningtable-black.svg);
  background-size: contain;
}
#bed {
  background: url(bed-black.svg);
  background-size: contain;
}
#desk {
  background: url(desk-black.svg);
  background-size: contain;
}
#coffee {
  background: url(coffee-black.svg);
  background-size: contain;
}
#couch {
  background: url(couch-black.svg);
  background-size: contain;
}
span {
  color: #FFF;
  display: block;
  margin-top: 15px;
  font: bold 18px 'Century Gothic', Helvetica, Arial, sans-serif;
  text-align: center;
  position: relative;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.item:hover {
  cursor: pointer;
}
.item:hover > .category {
  top: -6px;
}
.item:hover > span {
  color: #000;
}

/* Category Page Specific Styling */

h2 {
  margin: 0 0 0 10px;
  font-size: 26px;
}
.result {
  margin: 20px auto;
}
.choice {
  display: inline-block;
  height: 150px;
  vertical-align: middle;
}
.info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.info > p {
  width: 500px;
  margin: 10px 0 0 10px;
  padding: 0;
  border: none;
}

.around{
  border-style: solid;
  border-width: 1px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  text-align: center; 
  margin-left: 85px;
}

.left{
  float: left;
}

.point{
  text-align: left;
  margin-left: 150px;
  border-style: none;
}

.abouter{
  margin-top: 10px;
}

.lefter{
  text-align: left;
}

.person{
  width: 150px;
  height: 200px;
  margin: 25px;
  float: left;
}

.people{
  margin-top: 60px;
}

/* Media Queries for Responsive Layout */

@media all and (max-width: 905px) {
  .box {
    width: 70%;
  }
  .category {
    width: 120px;
    height: 120px;
  }
}
@media all and (max-width: 700px) {
  h1 {
    display: none;
    width: 90%;
  }
  h1:nth-child(2) {
    display: block;
  }
  p {
    width: 90%;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .box {
    width: 80%;
  }
  .item {
    width: 250px;
  }
  .category {
    width: 250px;
    height: 250px;
  }
}
@media all and (max-width: 905px) {
  html, body {
    height: 100%;
  }
  nav {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media all and (max-width: 700px) {
  nav {
    width: 100%;
  }
}
@media all and (max-width: 400px) {
  h1 {
    display: none;
  }
  h1:nth-child(2) {
    display: block;
  }
  p {
    font-size: 18px;
  }
}