{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About ALTERNATIV</title>
	<link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>ÅLTERNATÏV</h1>
		</div>
		<h2 class="abouter">About Us</h2>
		<p class="lefter">Based in Toronto, Canada we are a group of furniture enthusiasts and tastemakers. We strive to connect our users with new furniture possibilites, in three easy steps!</p>

		<div class="box">
			<h2 class="around left">1</h2> <p class="point">Introducing you to new brands of furniture at a mid-range price point.</p>
			<h2 class="around left">2</h2> <p class="point">Providing you with curated alternative suggestions of furniture pieces.</p>
			<h2 class="around left">3</h2> <p class="point">Helping you navigate the tumultuous seas of furniture store websites.</p>
		</div>

		<div class="box">
			<a href="http://www.michaelwolo.com">
				<div class="person">
					<img src="{% static "pencil.svg" %}">
					<h3>MICHÅEL</h3>
				</div>
			</a>
			<a href="http://www.amandamccusker.com">
				<div class="person">
					<img src="{% static "brush.svg" %}">
					<h3>ÅMANDA</h3>
				</div>
			</a>
			<a href="http://www.fromtheothershore.me">
				<div class="person">
					<img src="{% static "hammer.svg" %}">
					<h3>KÏRIEN</h3>
				</div>
			</a>
			<a href="http://www.emilymaemura.com">
				<div class="person">
					<img src="{% static "allenkey.svg" %}">
					<h3>EMILÝ</h3>
				</div>
			</a>
		</div>
	</div>

	<nav>
		<a href="/">Home</a>
	</nav>
</body>
</html>


<!--  -->