{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>&Aring;lternat&iuml;v</title>
  <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
  <div id="wrap">
    <a href="/"><h1>&Aring;LTERNAT&Iuml;V</h1></a>
    <a href="/"><h1 class="mini">&Aring;LT</h1></a>
    <p>Meet your options. Furniture beyond the flat-pack.</p>
    <div class="box">
      {% for type, code in types.items %}
      <div class="item">
        <div class="category" id="{{type}}">
          <a href="/{{code}}">
            <img src="static/00_{{code}}-01.svg" width="100%">
          </a>
        </div>
        <span>{{type}}</span>
      </div>
      {% endfor %}
    </div>
  </div>
  <nav>
    <a href="/about">About</a>
  </nav>
</body>
</html>