{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IKEALTERNATIVE</title>
	<!-- template for static file -->
	<link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Find Your ÅLTERNATÏV</h1>
		</div>
		<p class="tagline"> Are you addicted to that ubiquitous Swedish flat-pack furniture store?
		We get it.  We’ve been there.</p>
		<p class="tagline">But if you’re ready for a change, you’ve come to the right place.</p>
		<h2 id="new">What are you looking for?</h2>
		<div id="itembox">
    		{% for type, code in types.items %}
    			<div class="item">
					<a href="/02">
						<div class="box" id="{{type}}" onClick="alert()">
							<embed src="static/00_{{code}}-01.svg" type="image/svg+xml" height="150" onClick="alert()"/>
						</div>
					</a>
					<div class="label">{{type}}</div>
				</div>
    		{% endfor %}
		</div>
	</div>

	<script>
		var a = document.getElementById("Layer_1");
			a.addEventListener("load",function(){
            	var svgDoc = a.contentDocument; //get the inner DOM of alpha.svg
            	var delta = svgDoc.getElementById("delta"); //get the inner element by id
            	delta.addEventListener("click",function(){alert('hello world!')},false);    //add behaviour
        	},false);
		

		newLoc = function(type) {
			alert(type);
		}
	</script>
</body>
</html>