{% load staticfiles %}
{% load easy_maps_tags cache %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>&Aring;lternat&iuml;v</title>
  <link rel="stylesheet" href="{% static "style.css" %}">
  <script type='application/javascript' src='{% static "fastclick.js" %}'></script>
  <script>
    window.addEventListener('load', function() {
      FastClick.attach(document.body);
    }, false);
  </script>
</head>
<body>
  <div id="wrap">
    <a href="/"><h1>&Aring;LTERNAT&Iuml;V</h1></a>
    <a href="/"><h1 class="mini">&Aring;LT</h1></a>
    <div class="product">
      <div class="pic">
        <img src="/static/img/{{store_code}}_{{type_code}}-01.jpg" width="300" height="300"/>
      </div>
      <div class="desc">
        <a href="{{item_link}}"><h2>{{item_name}}</h2></a>
        <h3>{{store_name}}</h3>
        <div class="price">
          <i>Relative Price Multiplier: <br/></i>
          x{{price}} Ikea {{ikea_name}}
        </div>
        <p>{{item_desc}}</p>
        <p>{{subj}}</p>
      </div>
    </div>
    <div class="store">
      <div class="retail">
        <a href="{{store_website}}"><h4>{{store_name}}</h4></a>
        <p>{{store_address}}</p>
        <p>{{city}}, {{province}}</p>
        <p>{{phone}}</p>
      </div>
      <div class="map">
        {% easy_map full_address 380 170 %}
      </div>
    </div>
</div>
<nav>
  <a href="/about">About</a>
  <a href="/">Home</a>
  <div class="back">
    <a href="/{{type_code}}">Back</a>
  </div>
</nav>
</body>
</html>