{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>&Aring;lternat&iuml;v</title>
  <link rel="stylesheet" href="{% static "style.css" %}">
  <script type='application/javascript' src='{% static "fastclick.js" %}'></script>
  <script>
    window.addEventListener('load', function() {
      FastClick.attach(document.body);
    }, false);
  </script>
</head>
<body>
  <div id="wrap">
    <a href="/"><h1>&Aring;LTERNAT&Iuml;V</h1></a>
    <a href="/"><h1 class="mini">&Aring;LT</h1></a>
    <div class="result">
      <div class="choice">
        <img src="/static/00_{{code}}-01.svg">
      </div>
      <div class="info">
        <h2>{{item_type}}</h2>
        <p>{{ikea_item}}</p>
        <p>{{subj}}</p>
      </div>
    </div>
    <div class="suggestions">
      <h3>Recommended &Aring;lternat&iuml;vs</h3>
      <div class="options">
        {% for alt, store_code in alt_items.items %}
        <a href="{{alt.id}}">
          <div class="item">
            <div class="choice">
              <img src="/static/img/{{store_code}}_{{code}}-01.jpg">
            </div>
            <span>{{alt.item_name}}</span>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <nav>
    <a href="/about">About</a>
    <a href="/">Home</a>
  </nav>
</body>
</html>
