{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Interactive Prototype</title>
	<link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
	<div id="container">
		<div class="nav">
			{% include "header.html" %}
		</div>
		<div id="header">
			<h1>Find Your ÅLTERNATÏV</h1>
			<nav>
				<a href="/">Home</a>  |  <a href="/">Back</a>
			</nav>
		</div>
		<div class="result">
			<h4>You selected:</h4>
			<div class="result-box">
				<img src="/static/00_{{code}}-01.svg" width="125" height="125"/>
			</div>
			<div class="info">
				<h1>{{item_type}}</h1>
				<p>{{ikea_item}}</p>
				<br>
				<p>{{subj}}</p>
			</div>
		</div>

		<div class="suggestions">
			<h3>Your IKEAlternatives...</h3>
			{% for item in alt_items %}
			<div class="item">
				<div class="box"></div>
				<div class="label">{{item.item_name}}</div>
			</div>
			{% endfor %}
		</div>
			
		
		<div id="load"></div>
	</div>
	<script>
		
	</script>
</body>
</html>