/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 *  Main Styling
 */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
	font-family: Helvetica, Arial, sans-serif;
}
#container {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}
.tagline {
	font-size:14px;
	color:#999999;
	letter-spacing:1px;

}
h1 {
	margin: 15px 0;
	font-size: 28px;
	display: inline-block;
	letter-spacing: 3px;
	font-weight: bold;
}
h2 {
	margin-top: 30px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 22px;
}
h3 {
	margin: 30px 0;
	font-size: 18px;
}
h4 {
	display: block;
	margin: 10px 0;
	font-size: 16px;
}
#itembox {
	margin: 30px auto;
	text-align: center;
}
.item {
	width: 200px;
	margin: 5px 10px;
	display: inline-block;
}
.box {
	height: 150px;
	border: 1px solid #999999;
}
.box:hover {
	background: #EEE;
	cursor: pointer;
}
.label {
	margin: 10px 0;
	text-align: center;
	font-size: 18px;
	letter-spacing:2px;
}
.result {
	margin-top: 30px;
}
.result-box {
	width: 125px;
	height: 125px;
	display: inline-block;
	border: 1px solid black;
}
.info {
	width: 82%;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
}
.info h1 {
	margin: 10px 0;
	font-size: 30px;
}
.refine {
	margin: 30px 0;
}
.return {
	width: 150px;
	margin: 5px 0;
	padding: 10px 0;
	background: #DDD;
	text-align: center;
	float: right;
}
.return:hover {
	background: #EEE;
	cursor: pointer;
}
a:link{
	color:#0066CC;
	text-decoration:none;
	font-weight:bold;
}
a:visited {
	color:#3399CC;
	text-decoration:none;
}
