{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IKEALTERNATIVE</title>
	<link rel="stylesheet" href="style.css">
	<!-- template for static file -->
	<link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>What's Your IKEAlternative?</h1>
		</div>
		<h2 id="new">I need a new...</h2>
		<div id="itembox">
			{% if types %}
	    		{% for type in types %}
	    			<div class="item">
						<div class="box"></div>
						<div class="label">{{type}}</div>
					</div>
	    		{% endfor %}
			{% else %}
	    		<p>SOMETHING IS WRONG :'(</p>
			{% endif %}
		</div>
	</div>

	<script>
		window.onload = function () {
			var boxes = document.getElementsByClassName('box');
			for (var i = 0; i < boxes.length; i++) {
				boxes[i].addEventListener('click', newPage, true);
			}
		}
	</script>
</body>
</html>